@use '~@angular/material' as mat;
@use '../../../../../theme/additional-colors.scss' as additional-colors;

@mixin novo-recurso-modal-theme($theme) {
  $color: mat.get-color-config($theme);
  @if $color != null {
    @include novo-recurso-modal-color($color);
  }
}

@mixin novo-recurso-modal-color($color) {
  $primary: map-get($color, "primary");
  $warn: map-get($color, "warn");

}

::ng-deep.mat-dialog-container {
  padding: 0px;
  border-radius: 25px;
}

#main {
  width: 420px;
  height: 440px;
  border-radius: 25px;
  padding: 0px;
  background-color: #ffffff;
}

#head-corpo {
  background-color: #007601;
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    padding-left: 6.8rem;
  }

  #exit {
    padding-right: 3.75rem;
    padding-left: 1.8rem;
  }
}

.caixa-maior {
  width: 85%;
  height: 82%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#add-recurso-form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#caixa-superior {
  width: 100%;
  height: 28%;
}

#caixa-forms {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .caixa-lateral{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
  
    .form-field {
      width: 40%;
    }
  }
}

#caixa-inferior {
  width: 100%;
  height: 12%;
}

.form-field {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#enviar {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 0.3rem;
  font-size: 1.25rem;
}
