<main id="reset-password-main">
  <section id="reset-password-section">
    <form
      id="reset-password-form"
      [formGroup]="userForm">
      <h1>Esqueci minha senha</h1>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nos informe o seu email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex:. email@gmail.com"
        />
        <mat-icon matSuffix color="warn">cancel</mat-icon>
        <mat-error
          *ngIf="
            userFormControls.email.hasError('email') &&
            !userFormControls.email.hasError('required')
          "
        >
          Por favor, utilize um email <strong>válido</strong>
        </mat-error>
        <mat-error *ngIf="userFormControls.email.hasError('required')">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <div id="botoes-container">
        <button id="entrar" mat-raised-button (click)="onSubmit()" color="warn">
          Enviar
        </button>

        <a href=""> Voltar</a>
      </div>
    </form>
  </section>
</main>
