@use '~@angular/material'as mat;

@mixin reset-password-theme($theme) {
  $color: mat.get-color-config($theme);

  @if $color !=null {
    @include reset-password-color($color);
  }
}

@mixin reset-password-color($color) {
  $primary: map-get($color, "primary");
  $warn: map-get($color, "warn");

  #reset-password h1 {
    color: mat.get-color-from-palette($primary);
  }

  #botoes-container a {
    color: mat.get-color-from-palette($warn);
  }
}

#reset-password-main {
  height: 100%;
}

#reset-password-section {
  display: block;
  background-image: url("https://img.freepik.com/free-photo/plate-with-keto-diet-food-cherry-tomatoes-chicken-breast-eggs-carrot-salad-with-arugula-spinach-keto-lunch-top-view_2829-16946.jpg?size=626&ext=jpg&ga=GA1.2.1027676076.1623542400");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#reset-password {
  background-color: #ffffff;
  grid-column: 2/3;
  display: grid;
  row-gap: 5px;
  grid-template-rows: 20% repeat(3, 1fr);
  justify-self: end;
  align-self: center;
  align-content: center;
  width: 30%;
  height: 45%;
  margin: 0px 80px 0px 0px;
  padding: 55px 40px 0px 40px;
  font-size: 0.9rem;
  box-shadow: 0px -5px 40px rgba(18, 18, 18, 0.15);
  border-radius: 15px;

  & h1 {
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
    font-weight: 700 !important;
    font-family: sans-serif;
  }

  & .mat-raised-button {
    font-weight: 600 !important;
    font-family: sans-serif;
  }

  & .form-field {
    width: 100%;
  }
}

#botoes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 125px;
  margin: 0px;
}

#entrar {
  width: 100%;
  margin-bottom: 15px;
  color: #f9f9f9;
  font-size: 20px;
}

#botoes-container a {
  text-decoration: none;
}

@media (max-width: 1100px) {
  #reset-password {
    width: 50%;
  }
}

@media (max-width: 925px) {
  #reset-password {
    width: 70%;
    margin-right: 0px;
  }

  .main {
    justify-content: center;
  }
}
