<app-barra-secundaria title="Contatos" icone="phone"></app-barra-secundaria>

<section class="main-contatos">
  <div class="pesquisa container">
    <div class="pesquisar">
      <input type="search" id="txtBusca" placeholder="Buscar..." />
      <i class="bi bi-search"></i>
    </div>
    <div class="pesquisar">
    </div>
  </div>
  <div class="container contatos">
    <ng-container *ngFor="let voluntario of voluntarios; let i=index">
     <app-card-contato [contato]="voluntario"></app-card-contato>
    </ng-container>
  </div>
</section>