<app-barra-secundaria title="Lista de Solicitações" icone="shopping_basket"></app-barra-secundaria>

<section class="main">
  <div class="caixa-add-solicitacao">
    <div class="caixa-dentro">
      <button mat-raised-button color="accent" [disabled]="pedido" (click)="openDialogAddSolicitacao()" id="btn-add-solicitacao">Adicionar
        Solicitação Mensal</button>
      <div class="caixa-pedido-situacao">
        <div *ngIf="pedido">
          <p style="color: #808080; padding-bottom: 20px ;">Seu pedido de insumos desse mês:</p>
          <div class="caixa-pedido-situacao-2">
            <mat-card class="mat-card" (click)="openNota(pedido)">
              <mat-card-content class="mat-card-content">
                <p>{{ pedido.createdDate | date: 'd MMMM' }}</p>
                <p>{{ pedido?.__voluntario__?.nome }}</p>
                <p>{{ pedido.valorTotal | currency: 'BRL' }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <label *ngIf="!pedido" class="nenhum-pedido">Você ainda não adicionou sua solicitação.</label>
      </div>
    </div>
  </div>

  <div class="caixa-historico-solic-pessoal" *ngIf="isCoordenador">
    <div class="head_pedidos ">
      <p>Pedidos dos voluntários desse mês</p>
    </div>
    <div class="btns-ver-historico-alt-recurso">
      <button id="btn-ver-historico" [routerLink]="['/historico-solicitacao']">Ver Histórico Mensal</button>
      <button id="btn-alterar-recursos" [routerLink]="['/recursos']">Alterar Recursos</button>
    </div>
    <div class="caixa-dentro-2">
      <app-data-table-coordenador style="width: 100%;"></app-data-table-coordenador>
    </div>
  </div>

  <div class="caixa-historico-solic-pessoal" *ngIf="!isCoordenador">
    <div class="head_pedidos ">
      <p>Todos os pedidos recebidos de {{ anoString }} </p>
    </div>
    <div class="caixa-dentro-2">
      <app-data-table-voluntario style="width: 100%;" [voluntario]="voluntario">
      </app-data-table-voluntario>
    </div>
  </div>
</section>