<main>
  <app-breadcrumb-header paginaAnterior="Home" paginaAtual="Alterar Perfil" title="Dados de Cadastro" icone="account_circle"></app-breadcrumb-header>
  
  <section class="main-2">
    <div id="content-container">
      <aside class="alterar-foto">
        <div>
          <p>Foto do Perfil</p>
          <div id="foto-alterar"></div>
        </div>
      </aside>

      <div class="alterar-dados">
        <form id="update-profile-form" [formGroup]="userForm">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              type="text"
              matInput
              formControlName="nome"
              placeholder="Seu nome completo"
            />
            <mat-error *ngIf="userFormControls.nome.hasError('required')">
              Nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="Ex:. email@gmail.com"
            />
            <mat-error
              *ngIf="
                userFormControls.email.hasError('email') &&
                !userFormControls.email.hasError('required')
              "
            >
              Por favor, utilize um email <strong>válido</strong>
            </mat-error>
            <mat-error *ngIf="userFormControls.email.hasError('required')">
              Email é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <!--  <mat-form-field class="form-field" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="senha"
              placeholder="Sua senha aqui"
            />
            <button
              mat-icon-button
              matSuffix
              color="default"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide senha'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field> -->

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input type="tel" formControlName="telefone" matInput />
            <mat-icon matSuffix color="warn">telefone</mat-icon>
            <mat-error *ngIf="userFormControls.telefone.hasError('required')">
              Telefone é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <div id="form-buttons">
            <button
              mat-raised-button
              (click)="openDialog()"
              class="accent-btn-color"
            >
              Alterar
            </button>
            <button mat-raised-button class="default-btn-color">
              Cancelar
            </button>
          </div>
        </form>
        <div id="funcao-atual">
          <hr />
          <h3>Função</h3>
          <p>{{ getFuncoes() }}</p>
        </div>
      </div>
    </div>
  </section>
</main>
