<main id="signup-main">
  <section id="top-section"></section>
  <div id="middle-divider">
    <div class="divider-item">
      <mat-icon
        [inline]="true"
        id="shopping-basket-icon"
        aria-hidden="false"
        aria-label="shopping basket"
        >shopping_basket</mat-icon
      >
      <span>Faça os pedidos dos seus insumos</span>
    </div>

    <div class="divider-item">
      <mat-icon
        [inline]="true"
        id="paid-icon"
        aria-hidden="false"
        aria-label="money"
        >paid</mat-icon
      >
      <span>Solicite ajuda de custo</span>
    </div>

    <div class="divider-item">
      <mat-icon
        [inline]="true"
        id="call-icon"
        aria-hidden="false"
        aria-label="call"
        >call</mat-icon
      >
      <span>Encontre o contato de outros voluntários</span>
    </div>
  </div>
  <section id="bottom-section">
    <aside id="cooky"></aside>
    <form id="user-form" [formGroup]="userForm">
      <h1>Criar uma Conta</h1>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          type="text"
          matInput
          formControlName="nome"
          placeholder="Seu nome completo"
        />
        <mat-icon matSuffix color="warn">cancel</mat-icon>
        <mat-error *ngIf="userFormControls.nome.hasError('required')">
          Nome é <strong>obrigatório</strong>
        </mat-error>
        <mat-error *ngIf="userFormControls.nome.hasError('minlength')">
          Nome deve conter no <strong>mínimo 6 caracteres</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex:. email@gmail.com"
        />
        <mat-icon matSuffix color="warn">cancel</mat-icon>
        <mat-error
          *ngIf="
            userFormControls.email.hasError('email') &&
            !userFormControls.email.hasError('required')
          "
        >
          Por favor, utilize um email <strong>válido</strong>
        </mat-error>
        <mat-error *ngIf="userFormControls.email.hasError('required')">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          matInput
          formControlName="senha"
          placeholder="Sua senha aqui"
        />
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide senha'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="userFormControls.senha.hasError('required')">
          Senha é <strong>obrigatória</strong>
        </mat-error>
        <mat-error *ngIf="userFormControls.senha.hasError('minlength')">
          Senha deve conter no <strong>mínimo 6 caracteres</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input type="tel" formControlName="telefone" matInput maxlength="11" />
        <mat-icon matSuffix color="warn">cancel</mat-icon>
        <mat-error *ngIf="userFormControls.telefone.hasError('required')">
          Telefone é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Função</mat-label>
        <mat-select formControlName="funcoes" multiple>
          <mat-option
            *ngFor="let funcao of availableFunctions"
            [value]="funcao"
            >{{ funcao.descricao }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="userFormControls.funcoes.hasError('required')">
          Função é <strong>obrigatória</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="onSubmit()" color="accent">
        Cadastrar
      </button>
    </form>
  </section>
</main>
