<div id="confirmation-dialog">
  <div id="header">
    <div id="title-container">
      <mat-icon [inline]="true" aria-hidden="false" aria-label="warn">new_releases</mat-icon>
      <span>ATENÇÃO</span>
    </div>
    <button id="exit" mat-icon-button (click)="closeDialog()" color="primary" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div id="content" mat-dialog-content>
    <span>{{ data.message }}</span>
    <div id="buttons-container">
      <button mat-raised-button (click)="onYes()" [color]="data.highlightButton === 'yes' ? 'warn' : 'basic'">
        SIM
      </button>
      <button mat-raised-button (click)="onNo()" [color]="
          !data.highlightButton || data.highlightButton === 'no'
            ? 'warn'
            : 'basic'
        ">
        NÃO
      </button>
    </div>
  </div>
</div>