<section id="main">
  <section id="head-corpo">
    <p>Alterar Doação</p>
    <button
      id="exit"
      mat-icon-button
      (click)="closeDialog()"
      color="primary"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <div class="caixa-maior">
    <form id="alterar-doacao-form" [formGroup]="alterarDoacaoForm">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label placeholder="Você quer somar ou subtrair o valor atual?"
          >Você quer somar ou subtrair o valor atual?
        </mat-label>
        <mat-select formControlName="calc">
          <mat-option value="+">Somar</mat-option>
          <mat-option value="-">Subtrair</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Qual o valor da alteração?</mat-label>
        <input
          type="text"
          matInput
          formControlName="valor"
          placeholder="Qual o valor da alteração?"
        />
      </mat-form-field>

      <button mat-raised-button color="accent" id="enviar" (click)="onSubmit()">
        Enviar
      </button>
    </form>
  </div>
</section>
