$md-orange: (
  50: #fff1ea,
  100: #ffdcc9,
  200: #ffc5a6,
  300: #ffae82,
  400: #ff9c67,
  500: #ff8b4c,
  600: #ff8345,
  700: #ff783c,
  800: #ff6e33,
  900: #ff5b24,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffdcd2,
  A700: #ffc8b8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
  default: #ff8b4c,
  lighter: #ffdcc9,
  darker: #ff783c,
  text: #ff8b4c,
  default-contrast: #000000,
  lighter-contrast: #000000,
  darker-contrast: #000000,
  "50-contrast": #000000,
  "100-contrast": #000000,
  "200-contrast": #000000,
  "300-contrast": #000000,
  "400-contrast": #000000,
  "500-contrast": #000000,
  "600-contrast": #000000,
  "700-contrast": #000000,
  "800-contrast": #000000,
  "900-contrast": #000000,
  "A100-contrast": #000000,
  "A200-contrast": #000000,
  "A400-contrast": #000000,
  "A700-contrast": #000000,
  "contrast-contrast": null,
);

$md-default: (
  50: #efefef,
  100: #d8d8d8,
  200: #bebebe,
  300: #a3a4a4,
  400: #909191,
  500: #7c7d7d,
  600: #747575,
  700: #696a6a,
  800: #5f6060,
  900: #4c4d4d,
  A100: #bbf8f8,
  A200: #8cf3f3,
  A400: #4dffff,
  A700: #34ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
  default: #7c7d7d,
  lighter: #abacac,
  darker: #505151,
  text: #ffffff,
  default-contrast: #ffffff,
  lighter-contrast: #ffffff,
  darker-contrast: #ffffff,
  "50-contrast": #ffffff,
  "100-contrast": #ffffff,
  "200-contrast": #ffffff,
  "300-contrast": #ffffff,
  "400-contrast": #ffffff,
  "500-contrast": #ffffff,
  "600-contrast": #ffffff,
  "700-contrast": #ffffff,
  "800-contrast": #ffffff,
  "900-contrast": #ffffff,
  "A100-contrast": #ffffff,
  "A200-contrast": #ffffff,
  "A400-contrast": #ffffff,
  "A700-contrast": #ffffff,
  "contrast-contrast": null,
);
