$md-darkgreen: (
    50 : #e0efe1,
    100 : #b3d6b3,
    200 : #80bb80,
    300 : #4d9f4d,
    400 : #268b27,
    500 : #007601,
    600 : #006e01,
    700 : #006301,
    800 : #005901,
    900 : #004600,
    A100 : #7aff7a,
    A200 : #47ff47,
    A400 : #14ff14,
    A700 : #00fa00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-lightgreen: (
    50 : #f2f9e2,
    100 : #deefb6,
    200 : #c8e586,
    300 : #b2da55,
    400 : #a2d230,
    500 : #91ca0c,
    600 : #89c50a,
    700 : #7ebd08,
    800 : #74b706,
    900 : #62ab03,
    A100 : #eaffd4,
    A200 : #d1ffa1,
    A400 : #b9ff6e,
    A700 : #acff55,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-lightred: (
  50 : #fdeceb,
  100 : #fbcfcd,
  200 : #f9b0ac,
  300 : #f6908a,
  400 : #f47871,
  500 : #f26058,
  600 : #f05850,
  700 : #ee4e47,
  800 : #ec443d,
  900 : #e8332d,
  A100 : #ffffff,
  A200 : #fff6f6,
  A400 : #ffc4c3,
  A700 : #ffaca9,
  contrast: (
      50 : #ffffff,
      100 : #ffffff,
      200 : #ffffff,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$md-lightorange: (
  50 : #fdecea,
  100 : #fbcfcb,
  200 : #f9b0a9,
  300 : #f69087,
  400 : #f4786d,
  500 : #f26053,
  600 : #f0584c,
  700 : #ee4e42,
  800 : #ec4439,
  900 : #e83329,
  A100 : #ffffff,
  A200 : #fff4f3,
  A400 : #ffc3c0,
  A700 : #ffaba7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
