@use '~@angular/material' as mat;

@use './colors.scss' as colors;
@use './additional-colors.scss' as additional-colors;

@use '../app/core/components/header/header.component.scss' as header;
@use '../app/core/components/footer/footer.component.scss' as footer;

@use '../app/pages/signup/signup.component.scss' as signup;
@use '../app/pages/reset-password/reset-password.component.scss' as reset-password;
@use '../app/pages/login/login.component.scss' as login;
@use '../app/pages/home/home.component.scss' as home;
@use '../app/pages/update-profile/update-profile.component.scss' as update-profile;
@use '../app/pages/solicitacoes/solicitacoes.component.scss' as solicitacoes;

@use '../app/shared/confirmation-dialog/confirmation-dialog.component.scss' as confirmation-dialog;
@use '../app/shared/notifier/notifier.component.scss' as notifier;
@use '../app/pages/recursos/components/recurso-table/recurso-table.component.scss' as recurso-table;
@use '../app/pages/recursos/components/novo-recurso-modal/novo-recurso-modal.component.scss' as novo-recurso-modal;

@use '../app/pages/solicitacoes/components/add-solicitacao-modal/add-solicitacao-modal.component.scss' as add-solicitacao-modal;
@use '../app/pages/home/components/doacoes-arrecadadas/doacoes-arrecadadas.component.scss' as doacoes-arrecadadas;
@use '../app/pages/home/components/insumos-mais-pedidos/insumos-mais-pedidos.component.scss' as insumos-mais-pedidos;
@use '../app/pages/home/components/ultimos-insumos-solicitados/ultimos-insumos-solicitados.component.scss' as ultimos-insumos-solicitados;
@use '../app/pages/home/components/alterar-doacao-modal/alterar-doacao-modal.component.scss' as alterar-doacao;

@include mat.core();

$darkgreen: colors.$md-darkgreen;
$lightgreen: colors.$md-lightgreen;
$lightred: colors.$md-lightred;

$light-primary: mat.define-palette($darkgreen);
$light-accent: mat.define-palette($lightgreen);
$light-warn: mat.define-palette($lightred);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn
  )
));

@mixin scrollbar($theme) {
  $color: mat.get-color-config($theme);
  $primary: map-get($color, 'primary');
  $accent: map-get($color, 'accent');

  *::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  *::-webkit-scrollbar-thumb {
    background: mat.get-color-from-palette($accent);
    border-radius: 0px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: mat.get-color-from-palette($primary);
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
  }
}

@mixin buttons($theme) {
  $color: mat.get-color-config($theme);
  $primary: map-get($color, 'primary');
  $accent: map-get($color, 'accent');

  .accent-btn-color {
    background-color: mat.get-color-from-palette($accent) !important;
    color: mat.get-color-from-palette($primary) !important;
  }

  .warn-btn-color {
    background-color: mat.get-color-from-palette($accent) !important;
    color: mat.get-color-from-palette($accent) !important;
  }

  .secondary-btn-color {
    background-color: mat.get-color-from-palette(additional-colors.$md-orange) !important;
    color: mat.get-contrast-color-from-palette(additional-colors.$md-orange, 700) !important;
  }

  .default-btn-color {
    background-color: mat.get-color-from-palette(additional-colors.$md-default) !important;
    color: mat.get-contrast-color-from-palette(additional-colors.$md-default, 500) !important;
  }
}

@mixin inner-headers($theme) {
  $color: mat.get-color-config($theme);
  $primary: map-get($color, 'primary');
  $accent: map-get($color, 'accent');

  .primary-inner-header-color {
    background-color: mat.get-color-from-palette($primary) !important;
    color: mat.get-contrast-color-from-palette($primary, 500) !important;
  }

  .warn-inner-header-color {
    background-color: mat.get-color-from-palette($accent) !important;
    color: mat.get-contrast-color-from-palette($accent, 500) !important;
  }

  .secondary-inner-header-color {
    background-color: mat.get-color-from-palette(additional-colors.$md-orange) !important;
    color: mat.get-contrast-color-from-palette(additional-colors.$md-orange, 500) !important;
  }
}

@include scrollbar($light-theme);
@include buttons($light-theme);
@include inner-headers($light-theme);

@include mat.all-component-themes($light-theme);

@include header.header-theme($light-theme);
@include footer.footer-theme($light-theme);

@include confirmation-dialog.confirmation-dialog-theme($light-theme);
@include notifier.notifier-theme($light-theme);
@include recurso-table.recurso-table-theme($light-theme);
@include novo-recurso-modal.novo-recurso-modal-theme($light-theme);

@include home.home-theme($light-theme);
@include signup.signup-theme($light-theme);
@include update-profile.update-profile-theme($light-theme);
@include reset-password.reset-password-theme($light-theme);
@include login.login-theme($light-theme);
@include add-solicitacao-modal.add-solicitacao-modal-theme($light-theme);
@include doacoes-arrecadadas.doacoes-arrecadadas-theme($light-theme);
@include insumos-mais-pedidos.insumos-mais-pedidos-theme($light-theme);
@include ultimos-insumos-solicitados.ultimos-insumos-solicitados-theme($light-theme);
@include alterar-doacao.alterar-doacao-modal-theme($light-theme);
@include solicitacoes.solicitacoes-theme($light-theme);
