<section id="main">
  <section id="head-corpo">
    <p>Adicione sua solicitação mensal</p>
    <button
      id="exit"
      mat-icon-button
      (click)="closeDialog()"
      color="primary"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <div
    *ngIf="!recursos || recursos.length == 0"
    style="padding-left: 2%; margin-top: 20px"
  >
    <h4>Nenhum insumo encontrado</h4>
  </div>

  <div class="caixa-maior" *ngIf="recursos && recursos.length > 0">
    <form id="solicitacao-form" [formGroup]="solicitacaoForm">
      <ng-container formArrayName="itensPedido">
        <ng-container
          *ngFor="let itemPedidoForm of itensPedido.controls; let i = index"
        >
          <div [formGroupName]="i">
            <mat-label>{{ getNome(itemPedidoForm.value.recurso) }}</mat-label>

            <div *ngIf="itemPedidoForm.value.recurso.tipoRecurso == 'INSUMO'">
              <mat-form-field
                class="example-full-width"
                appearance="outline"
                floatLabel="always"
              >
                <mat-icon matPrefix color="primary">expand_more</mat-icon>
                <input
                  type="number"
                  min="0"
                  matInput
                  formControlName="quantidade"
                  placeholder="Ex: 3"
                />
              </mat-form-field>
            </div>

            <div *ngIf="itemPedidoForm.value.recurso.tipoRecurso == 'AUXILIO'">
              <mat-form-field
                id="input-auxilio"
                class="example-full-width"
                appearance="outline"
                floatLabel="always"
              >
                <span matPrefix class="color-span">R$</span>
                <input
                  matInput
                  currencyMask
                  formControlName="valor"
                  placeholder="Ex: 20,00"
                  [options]="{
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    precision: 2
                  }"
                />
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </form>
    <button
      id="enviar-solicitacao"
      class="accent-btn-color"
      mat-raised-button
      (click)="onSubmit()"
    >
      Enviar solicitação
    </button>
  </div>
</section>
