<main id="home-main">
  <section id="perfil">
    <article id="container">
      <img id="foto" src="../../../assets/default/user-image.png" />
      <div id="info">
        <div id="info-group">
          <h3 id="nome">{{ voluntario.nome }}</h3>
          <p>{{ getFuncoes() }}</p>
          <a [routerLink]="['/update-profile']">Alterar Perfil</a>
        </div>
        <div id="verificar-solicitacao">
          <button
            *ngIf="isCoordenador"
            mat-raised-button
            class="accent-btn-color"
            id="btn-solicitar-insumos"
            [routerLink]="['/solicitacoes']"
          >
            Solicitar Insumos
          </button>
        </div>
      </div>
    </article>
  </section>

  <section id="dashboard">
    <app-doacoes-arrecadadas
      *ngIf="isEntregadorOrCozinheiro || isCoordenador"
    ></app-doacoes-arrecadadas>
    <app-insumos-mais-pedidos *ngIf="isCoordenador"></app-insumos-mais-pedidos>
    <app-ultimos-insumos-solicitados
      *ngIf="isEntregadorOrCozinheiro"
    ></app-ultimos-insumos-solicitados>
  </section>
</main>
