<footer>
  <div id="developed-by">
    <span>Desenvolvido por <a>MouseHeroes</a></span>
  </div>
  <div id="contact">
    <span>Entre em contato conosco</span>
    <mat-icon
      class="contact-icons"
      [inline]="true"
      id="insta-icon"
      svgIcon="instagram"
      aria-hidden="false"
      aria-label="instagram"
    ></mat-icon>
    <mat-icon
      class="contact-icons"
      [inline]="true"
      id="wpp-icon"
      aria-hidden="false"
      aria-label="whatsapp"
      >whatsapp</mat-icon
    >
  </div>
</footer>
