<article id="insumos-mais-pedidos">
  <header id="head">
    <mat-icon id="pig-icon">shopping_basket</mat-icon>
    <h1>Insumos mais pedidos</h1>
  </header>
  <div class="data">
    <p id="data">Setembro/2021</p>
  </div>
  <div id="content">

    <div class="insumos">
      <div class="quantidade-medida">
        <p id="quantidade-1">555</p>
        <p>Kg</p>
      </div>
      <p class="insumo" id="insumo-1">Arroz</p>
    </div>

    <div class="insumos">
      <div class="quantidade-medida">
        <p id="quantidade-2">300</p>
        <p>Kg</p>
      </div>
      <p class="insumo" id="insumo-2">Feijão</p>
    </div>

    <div class="insumos">
      <div class="quantidade-medida">
        <p id="quantidade-3">40</p>
        <p>Pacotes</p>
      </div>
      <p class="insumo" id="insumo-3">Colheres</p>
    </div>

  </div>
</article>
