<section id="main">
  <section id="head-corpo">
    <p id="data">{{ data?.createdDate | date: 'd MMMM' }}</p>
    <button id="exit" mat-icon-button (click)="closeDialog()" color="primary" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <div class="caixa-maior">
    <div id="caixa-container">

      <div class="caixa-interna">
        <div class="caixa-interna-superior">
          <p class="titulo">Nome</p>
          <p> {{ data?.__voluntario__?.nome }} </p>
        </div>
        <div class="caixa-interna-inferior"></div>
      </div>

      <ng-container *ngFor="let itemPedido of data?.itensPedido">
        <div class="caixa-interna">
          <div class="caixa-interna-superior">
            <p class="titulo">{{ getNome(itemPedido?.recurso) }}</p>
            <p class="quantidade">{{ getQuantidadeOuPreco(itemPedido) }}</p>
          </div>
        </div>
      </ng-container>

      <div class="total">
        <div class="caixa-interna-superior">
          <p>Total: {{ data?.valorTotal | currency: 'BRL' }}</p>
        </div>
      </div>
      
    </div>
  </div>

</section>