::ng-deep.mat-dialog-container {
  width: 500px;
  height: 570px;
  border-radius: 25px;
  padding: 0px;
}

#main {
  width: 100%;
  height: 100%;
  padding: 0px;
}

#head-corpo {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & p {
    padding-left: 40px;
  }

  & #exit {
    padding-right: 60px;
  }
}

.caixa-maior {
  width: 85%;
  height: 88%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#caixa-container {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.caixa-interna {
  width: 100%;
  height: 20%;
  border-bottom: solid 1px #898888;
  display: flex;
}

.total {
  width: 100%;
  height: 15%;
  display: flex;
  font-size: 20px;
}

.caixa-interna-superior,
.caixa-interna-inferior {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.titulo {
  color: 585858;
  font-size: 18px;
}

.quantidade {
  color: 898888;
  font-size: 16px;
}
